.TextInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 2em;
  font-size: 16px;
  padding: 5px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  color: #383838;
}

.TextInput::placeholder{
  color: #b3b3b3;
}

.TextInput:focus {
  outline: none;
}