.History {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.History .RoundList {
  flex: 1;
  overflow: scroll;
}

.EmptyLabel {
  padding: 10px;
  text-align: center;
  color: #383838;
}