.ProductItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  align-items: center;
  position: relative;
}

.ProductItem:nth-child(even) {
  background-color: grey;
}

.Image {
  width: 40px;
  height: 40px;
}

.Quantity {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 5px;
  left: 25px;
  background: #dc2e6e;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-size: 15px;
  border-radius: 15px;
  color: #ffffff;
  border: 1px solid #ffffff;
  /*box-shadow: 1px 1px 4px #6d6d6d;*/
}

.Info {
  flex: 1;
  margin-left: 10px;
  color: #383838;
}

.Name {
  font-size: 14px;
  font-weight: bold;
}

.Price {
  font-size: 14px;
}

.AddBtn svg {
  padding: 2px;
  stroke: #ffffff;
  fill: #9ad8a7;
}

.AddBtn svg:active {
  fill: #638c6b;  
}

.RemoveBtn svg {
  padding: 2px;
  stroke: #ffffff;
  fill: #f58585;
}

.RemoveBtn svg:active {
  fill: #d85b5b;  
}